<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% for story in stories %}
        <div>
            <h2><a href="">{{ story.title }}</a></h2>
            <p>{{ story.content|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <p id="text">かつて、遥か彼方の宇宙に、ひとつの美しい星がありました。</p>
    <img id="image" src="/static/images/default_image.jpg">
    <div class="banner" id="banner"></div>
    <script src="/static/js/script.js"></script>
</body>
</html>
